In [14]:
# [1] Receipts for Lovely Loveseats

# Tasks
lovely_loveseat_description = "Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white."
lovely_loveseat_price = 254.00

stylish_settee_description = "Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black."
stylish_settee_price = 180.50

luxurious_lamp_description = "Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade."
luxurious_lamp_price = 52.15

sales_tax = 0.088

# Our First Customer
customer_one_total = 0
customer_one_itemization = ""

customer_one_total += lovely_loveseat_price
customer_one_itemization += lovely_loveseat_description

customer_one_total += luxurious_lamp_price
customer_one_itemization += luxurious_lamp_description

customer_one_tax = customer_one_total * sales_tax

customer_one_total += customer_one_tax

# Output
print("Customer One Items:")
print(customer_one_itemization)
print("Customer One Total:")
print(customer_one_total)

Customer One Items:
Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.
Customer One Total:
333.09119999999996

In [33]:
# [2] Gradebook

# Create Some Lists
subjects = ["physics", "calculus", "poetry", "history"]
grades = [98, 97, 85, 88]

gradebook = [[s, g] for s, g in zip(subjects, grades)]
print(gradebook)

gradebook.append(["computer science", 100])
gradebook.append(["visual arts", 93])
print(gradebook)

# Modify The Gradebook
gradebook[5][1] += 5

gradebook[2].remove(85)
gradebook[2].append("Pass")
print(gradebook)

# One Big Gradebook
last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]

full_gradebook = last_semester_gradebook + gradebook
print(full_gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual arts', 93]]
[['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual arts', 98]]
[['politics', 80], ['latin', 96], ['dance', 97], ['architecture', 65], ['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual arts', 98]]

In [19]:
# [3] Carly's Clippers

import numpy as np

hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = np.array([30, 25, 40, 20, 20, 35, 50, 35])
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

# Prices and Cuts
total_price = 0
for price in prices:
    total_price += price

average_price = total_price / len(prices)
print(f"Average price is {average_price}")

new_prices = prices-5
print(new_prices)

# Revenue
total_revenue = 0
for i in range(0, len(hairstyles)):
    total_revenue += prices[i]*last_week[i]
    
print(total_revenue)

average_daily_revenue = total_revenue/7
print(f"Average daily revenue is {average_daily_revenue}")

cuts_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i]<30]
print(cuts_under_30)

Average price is 31.875
[25 20 35 15 15 30 45 30]
1085
Average daily revenue is 155.0
['bouffant', 'pixie', 'crew', 'bowl']

In [22]:
# [4] 나의 조선시대 이름 찾기

def get_my_chosun_name(family_name, month, day):
    month_list = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
    day_list = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', 
                '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', 
                '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

    return family_name + month_list[month-1] + day_list[day-1]


name = input('성씨를 입력하세요: ')
m = int(input('태어난 달을 입력하세요: '))
d = int(input('태어난 날을 입력하세요: '))

if (m>0 and m<13) and (d>0 and d<32):
    print(f"\n당신의 조선시대 이름은 {get_my_chosun_name(name, m, d)} 입니다.")
else:
    print("\n(error) 생일을 다시 입력하세요.")

성씨를 입력하세요:  한
태어난 달을 입력하세요:  4
태어난 날을 입력하세요:  15

당신의 조선시대 이름은 한돌방 입니다.